.bin-json-editor {
  position: relative;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 300px;
  overflow: hidden;
}

.bin-json-editor .CodeMirror {
  width: 100%;
  height: 100%;
}
.bin-json-editor .CodeMirror-scroll {
  height: 100%;
  overflow: auto;
}

.bin-form-item-content .bin-json-editor {
  width: 100%;
}

.bin-form-item-error > .bin-form-item-content .bin-json-editor {
  border-color: #f5222d;
}

.bin-json-editor .cm-s-rubyblue span.cm-string {
  color: #F08047;
}
