.element-doc {
  margin: 0 auto;
  padding: 24px 178px 24px 32px
  font-size: 14px;
  line-height: 1.5;
  code {
    background-color: #f9fafc;
    padding: 0 4px;
    border: 1px solid #eaeefb;
    border-radius: 4px;
    line-height: 1.8;
    margin: 0 4px;
    &.hljs {
      padding: 16px 24px;
    }
    &.html.hljs.xml {
      padding: 0 24px 16px;
    }
  }
  p {
    margin: 1em 0;
    strong {
      display: block;
      padding: 8px 16px;
      background-color: #ecf8ff;
      border-radius: 4px;
      border-left: 5px solid #50bfff;
      margin: 20px 0;
    }
  }
  h2, h3, h4, h5 {
    font-weight: 400;
    color: #17233d;
    position: relative;
    &::after {
      content: '¶'
      position: absolute;
      left: 0;
      margin-left: -18px;
      color: #6fb8ff;
    }
  }
  h2 {
    font-size: 28px;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #c5d9e8;
  }
  h3 {
    font-size: 22px;
    margin: 36px 0 20px;
  }
  h4 {
    font-weight: 400;
    color: #1f2f3d;
    font-size: 16px;
  }
  > table {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    border-collapse: collapse;
    overflow: auto;
    border: 1px solid #e9e9e9;
    th, td {
      padding: 8px 16px;
      max-width: 250px;
      text-align: left;
      border: 1px solid #e9e9e9;
    }
    th {
      background-color: #fafbfc;
    }
  }
  .b-menu-demo {
    padding-left: 55px;
  }
}

.doc-li > li {
  list-style: circle;
  margin-left: 20px;
  padding-left: 4px;
  line-height: 2;
}

.page-container .tip {
  padding: 8px 16px;
  background-color: #ecf8ff;
  border-radius: 4px;
  border-left: 5px solid #50bfff;
  margin: 20px 0;
}

.doc-update {
  .version {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 22px;
    font-weight: 500;
    border: 1px solid #1890ff;
    border-radius: 5px;
    border-top: none;
    border-bottom: none;
    margin: 0;
  }
  .time {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    background: #f2f4f5;
    padding: .1em .4em;
    border-radius: 3px;
    font-size: .9em;
    border: 1px solid #eee;
  }
  .content {
    position: relative;
    padding-left: 15px;
    line-height: 1.5715;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      width: 0;
      height: 0;
      transform: rotateZ(90deg);
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 6px solid #5e6d82;
    }
    i {
      font-style: normal;
      margin-right: 12px;
    }
  }
}

.global-anchor {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 20px;
  padding: 5px;
  width: 158px;
  background: #ffffff;
  z-index: 5;
  font-size: 12px;
  .bin-scrollbar__wrap {
    overflow-x: hidden;
  }
}

