.demo-block {
  .border-box-container, .border-box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgba(255, 255, 255, .8);
    font-weight: 700;
  }
  .decoration-container {
    position: relative;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
  }
  &.demo-flyline-chart .source {
    padding: 0;
  }
  .flyline-chart-wrap {
    background-image: url('../images/china.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 580px;
  }
}


