@import "base.styl"
@import "common.styl"
@import "icon.styl"
@import "button.styl"
@import "color.styl"

.demo-transition .transition-box {
  margin-bottom: 10px;
  width: 200px;
  height: 100px;
  border-radius: 4px;
  background-color: #1089ff;
  text-align: center;
  color: #fff;
  padding: 40px 20px;
  margin-right: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

.demo-block.demo-progress .bin-progress {
  margin-bottom: 15px;
  width: 350px;
}
.demo-block .demo-loading {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
  width: 200px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #cecece;
}
.demo-badge.demo-block .item {
  margin-right: 40px;
}

.demo-input.demo-block .input-item {
  width: 300px;
  margin-right: 20px;
}
.demo-rate .block {
  padding: 30px 0;
  text-align: center;
  border-right: 1px solid #eff2f6;
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
}
.demo-rate .block:last-child {
  border-right: none;
}

.demo-rate .demonstration {
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin-bottom: 20px;
}

.doc-update {
  .version {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 22px;
    font-weight: 500;
    border: 1px solid #1890ff;
    border-radius: 5px;
    border-top: none;
    border-bottom: none;
    margin: 0;
  }
  .time {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    background: #f2f4f5;
    padding: .1em .4em;
    border-radius: 3px;
    font-size: .9em;
    border: 1px solid #eee;
  }
  .content {
    position: relative;
    padding-left: 15px;
    line-height: 1.5715;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      width: 0;
      height: 0;
      transform: rotateZ(90deg);
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 6px solid #5e6d82;
    }
    i {
      font-style: normal;
      margin-right: 12px;
    }
  }
}

.demo-carousel-panel {
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background: #99a9bf;
}

.global-anchor {
  position: fixed;
  top: 100px;
  right: 0;
  height: 400px;
  padding: 5px;
  width: 158px;
  background: #ffffff;
  z-index: 5;
  font-size: 12px;
  .bin-scrollbar__wrap {
    overflow-x: hidden;
  }
}

.demo-scrollbar .bin-scrollbar__wrap {
  overflow-x: hidden;
}

.demo-block.demo-menu .b-menu-vertical-demo:not(.bin-menu--collapse) {
  width: 240px;
  min-height: 400px;
}

.b-menu-vertical-demo.border {
  border-right: 1px solid #f0f0f0;
}
